// globals.scss
@import '@fortawesome/fontawesome-free/css/all.min.css';

* {
    margin: 0;
    padding: 0;
  }
  
body {
  background-color: #100c0c;
}

header {
  align-items: center;
  background-color: #100c0c;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 99;
}

.searchbar {
  align-items: center; 
  display: flex;
  justify-content: center;
  width: 30rem;
}

.homeButton {
  background-color: #121212;
  border-radius: 25px;
  border: none;
  color: #d0d0d0;
  padding: 0.5rem;
  transition: background-color 0.8s ease, color 0.8s ease;

  &:hover {
    background-color: #272727;
    cursor: pointer;
  }
}

.searchFor {
  background-color: #121212;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border: 1px solid #a0a0a0;
  color: #d0d0d0;
  flex-grow: 1;
  font-size: 1rem;
  padding: 0.5rem 1rem;

  &:active,
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.searchButton {
  align-items: center;
  background-color: #222222;
  border-bottom-right-radius: 25px; 
  border-left: none;
  border-top-right-radius: 25px;  
  border: 1px solid #a0a0a0;
  color: #d0d0d0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.65rem; 
  transition: background-color 0.3s ease;

  .fa-solid {
    font-size: 0.9rem;
  }
}

.main {
  align-items: center;
  display: flex;
  justify-content: center;
  
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pokemon-item {
  align-items: center;
  background-color: #272727;
  border-radius: 25px;
  border: none;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  height: 40rem;
  justify-content: space-evenly;
  transition: background-color 0.8s ease, color 0.8s ease;
  width: 40rem;

  &:hover {
    background-color: #3f3f3f;
    cursor: pointer;
  }

  h3 {
    font-size: 5rem;
  }
}

p {
  font-size: 2rem;
}

img {
  height: auto;
  width: 320px;
}

.pokemon-details {
  align-items: center;
  background-color: #272727;
  border-radius: 25px;
  border: none;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  height: auto;
  justify-content: center;
  padding: 1rem;
  width: 100vh;

  h2, p {
    margin: 10px 0;
    text-align: center;
  }

  h2 {
    font-size: 5rem;
  }
}

.loader {
  color: #3498db;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);

  i {
    animation: spin 1s linear infinite;
    font-size: 10rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
  